@model IEnumerable<ProyectoRosty.Models.Entidades.GestionDeGaseosas>
@{
    ViewData["Title"] = "ListadoGestiones";
}
@if (TempData["AlertMessage"] != null)
{
    <div class="alert alert-success">
        <strong>Ok!!-----</strong>@TempData["AlertMessage"]
    </div>
}
<p>
    <a onclick="showInPopup('@Url.Action("Crear", "Gestiones",
    new { id = 0 }, Context.Request.Scheme)' ,
    '')" class="btn btn-sm btn-primary text-white">
        <i class="fa fa-plus-circle"></i> Agregar una nueva Gestion de Gaseosa
    </a>
</p>

<div class="col-md-12">
    <div class="card">
        <div class="card-header text-center">
            <h5>Listado de Gestiones</h5>
        </div>
        <div class=" card-body">
            <table id="gestiones" class="table table-hover table responsive table striped ">
                <thead>
                    <tr>
                        <th scope="#">Id</th>
                        <th scope="Nombre ">Nombre</th>
                        <th scope="Cantidad Disponible">Cantidad Disponible</th>
                        <th scope="Precio Unitario">Precio Unitario</th>
                        <th scope="Fecha Ingreso">Fecha Ingreso</th>
                        <th scope="Proveedor">Proveedor</th>
                        <th scope="Descripcion">Descripcion</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th scope="row">@item.IdGestion</th>
                            <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                            <td>@Html.DisplayFor(modelItem => item.CantidadDisponible)</td>
                            <td>@Html.DisplayFor(modelItem => item.PrecioUnitario)</td>
                            <td>@Html.DisplayFor(modelItem => item.FechaIngreso)</td>
                            <td>@Html.DisplayFor(modelItem => item.Proveedor)</td>
                            <td>@Html.DisplayFor(modelItem => item.Descripcion)</td>
                            <td>
                                <a onclick="showInPopup('@Url.Action("Editar", "Gestion",
                                new { id = item.IdGestion }, Context.Request.Scheme)' ,
                                  'Actualizar Gestion ')" class="btn btn-warning btn-sm">
                                    <i class="fa fa-pencil-alt"></i>Editar
                                </a>
                                <button data-id="@item.IdGestion"
                                        class="btn btn-danger btn-sm deleteItem"
                                        data-bs-toggle="modal"
                                        data-bs-target="#deleteDialog">
                                    <i class="fa fa-trash"></i>Eliminar
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<partial name="_MostrarModal" />
<partial name="_ModalEliminar" />

@section Scripts {

    <script src="~/js/showmodal.js"></script>

    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#gestiones').DataTable(
                {
                    "language": {
                        url: "https://cdn.datatables.net/plug-ins/1.11.5/i18n/es-ES.json"
                    },
                });
        });
    </script>

    <script>
        sc_deleteDialog.openModal('deleteItem', true, 'btnYesDelete', '/Gestiones/Eliminar/', false);
    </script>
}