@model IEnumerable<ProyectoRosty.Models.Entidades.RegistroDeVentas>
@{
    ViewData["Title"] = "ListadoRegistro";
}
@if (TempData["AlertMessage"] != null)
{
    <div class="alert alert-success">
        <strong>Ok!!-----</strong>@TempData["AlertMessage"]
    </div>
}
<div class="col-md-12">
    <div class="card">
        <div class="card-header text-center bg-primary text-white">
            <h5>Listado de Ventas</h5>
        </div>
        <div class="card-body">
            <p>
                <a onclick="showInPopup('@Url.Action("Crear", "Registros", new { id = 0 }, Context.Request.Scheme)' , '')"
                   class="btn btn-sm btn-success text-white">
                    <i class="fa fa-plus-circle"></i> Agregar una nueva Venta
                </a>
            </p>
            <table id="registro" class="table table-hover table-responsive table-striped">
                <thead>
                    <tr>
                        <th scope="#">Id</th>
                        <th scope="Venta">Venta</th>
                        <th scope="Detalle Venta">Detalle de Venta</th>
                        <th scope="Fecha Venta">Fecha de Venta</th>
                        <th scope="Total Venta">Total Venta</th>                     
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th scope="row">@item.IdVenta</th>
                            <td>@Html.DisplayFor(modelItem => item.VentasDiarias)</td>
                            <td>@Html.DisplayFor(modelItem => item.DetalleVenta)</td>
                            <td>@Html.DisplayFor(modelItem => item.FechaDeVenta)</td>
                            <td>@Html.DisplayFor(modelItem => item.TotalVenta)</td>
                            <td>
                                <a onclick="showInPopup('@Url.Action("Editar", "Registros", new { id = item.IdVenta }, Context.Request.Scheme)' , 'Actualizar Venta ')"
                                   class="btn btn-warning btn-sm">
                                    <i class="fa fa-pencil-alt"></i> Editar
                                </a>
                                <button data-id="@item.IdVenta"
                                        class="btn btn-danger btn-sm deleteItem"
                                        data-bs-toggle="modal"
                                        data-bs-target="#deleteDialog">
                                    <i class="fa fa-trash"></i> Eliminar
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<partial name="_MostrarModal" />
<partial name="_ModalEliminar" />

@section Scripts {
    <script src="~/js/showmodal.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#registro').DataTable(
                {
                    "language": {
                        url: "https://cdn.datatables.net/plug-ins/1.11.5/i18n/es-ES.json"
                    },
                });
        });
    </script>

    <script>
        sc_deleteDialog.openModal('deleteItem', true, 'btnYesDelete', '/Registros/Eliminar/', false);
    </script>
}

