@model IEnumerable<ProyectoRosty.Models.Entidades.Empleados>
@{
    ViewData["Title"] = "ListadoEmpleados";
}
@if (TempData["AlertMessage"] != null)
{
    <div class="alert alert-success">
        <strong>Ok!!-----</strong>@TempData["AlertMessage"]
    </div>
}
<p>
    <a onclick="showInPopup('@Url.Action("Crear", "Empleados",
    new { id = 0 }, Context.Request.Scheme)' ,
    '')" class="btn btn-sm btn-primary text-white">
        <i class="fa fa-plus-circle"></i> Agregar un nuevo Empleado
    </a>
</p>

<div class="col-md-12">
    <div class="card">
        <div class="card-header text-center">
            <h5>Listado de Empleados</h5>
        </div>
        <div class=" card-body">
            <table id="empleados" class="table table-hover table responsive table striped ">
                <thead>
                    <tr>
                        <th scope="#">Id</th>
                        <th scope="Nombre Empleado">Nombre Empleado</th>
                        <th scope="Cargo">Cargo</th>
                        <th scope="Fecha de Contratacion">Fecha de Contratacion</th>
                        <th scope="Direccion">Direccion</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th scope="row">@item.IdEmpleado</th>
                            <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                            <td>@Html.DisplayFor(modelItem => item.Cargo)</td>
                            <td>@Html.DisplayFor(modelItem => item.FechaDeContratacion)</td>
                            <td>@Html.DisplayFor(modelItem => item.Direccion)</td>
                            <td>
                                <a onclick="showInPopup('@Url.Action("Editar", "Empleados",
                                new { id = item.IdEmpleado }, Context.Request.Scheme)' ,
                                  'Actualizar Empleado')" class="btn btn-warning btn-sm">
                                    <i class="fa fa-pencil-alt"></i>Editar
                                </a>
                                <button data-id="@item.IdEmpleado"
                                        class="btn btn-danger btn-sm deleteItem"
                                        data-bs-toggle="modal"
                                        data-bs-target="#deleteDialog">
                                    <i class="fa fa-trash"></i>Eliminar
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<partial name="_MostrarModal" />
<partial name="_ModalEliminar" />

@section Scripts {

    <script src="~/js/showmodal.js"></script>

    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#empleados').DataTable(
                {
                    "language": {
                        url: "https://cdn.datatables.net/plug-ins/1.11.5/i18n/es-ES.json"
                    },
                });
        });
    </script>

    <script>
        sc_deleteDialog.openModal('deleteItem', true, 'btnYesDelete', '/Empleados/Eliminar/', false);
    </script>
}